body {
  --primary-color: hsl(110, 10%, 5%);
  --accent-color: hsl(10, 100%, 35%);
  --accent-color-2: hsl(10, 100%, 35%);
  --background-color: hsl(100, 5%, 95%);

	font-size: 1.125rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
  position: absolute;
  left: 0;
  right: 0;
	min-height: 100vh;
  font-family: sans-serif;
	color: var(--primary-color);
	background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: hsl(230, 100%, 5%);
    --accent-color: hsl(285, 100%, 65%);
    --accent-color-2: hsl(310, 100%, 55%);
    --primary-color: hsl(230, 100%, 95%);
  }
}

@media (max-width: 450px) {
	html {
		font-size: 10px;
	}

	body {
		font-size: 1.5rem;
	}
}

.terminal {
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: monospace;
}

@media print {
	body {
		--background-color: white;
		--primary-color: black;
		--accent-color: darkred;
		--accent-color-2: darkblue;
	}
}

h1 {
	font-weight: 800;
	font-size: 3.75rem;
	line-height: 1;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

h2 {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

h3 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

pre {
	background-color: white;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding: 1rem;
	color: black;
	overflow-x: auto;
}

li {
	margin-left: 2.5rem;
}

a {
	font-weight: 700;
	color: var(--accent-color-2);
}

code {
	color: var(--accent-color);
	font-weight: 700;
}

pre code,
a code {
	color: inherit;
	font-weight: inherit;
}

p {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

blockquote {
	border-color: rgba(209, 213, 219, 1);
	border-style: solid;
	border-left-width: 4px;
	padding: 1rem;
}

img {
	max-width: 100%;
}

main {
  min-width: 30ch;
}

.center-content {
  margin: auto;
  width: clamp(20ch, 75%, 80ch);
  padding-bottom: 60px;
}